.home {
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  padding-top: 0px;
}

.title-invoice {
  text-align: center;
  text-decoration: underline;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.label {
  text-align: left;
  font-weight: 600;
}
.input-card {
  height: 2rem;
  width: 100%;
  margin-bottom: 2.5rem;
}
input,
option {
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 1rem;
}
.err-msz {
  color: red;
  font-size: 0.8rem;
}
.submit-btn {
  height: 100%;
  width: 20%;
  background-color: rgb(15, 15, 169);
  color: white;
  border-radius: 0.2rem;
  border-width: 0;
  cursor: pointer;
}
.new-invoice {
  color: rgb(18, 18, 80);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 1rem;
  padding: 2rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.delete-btn {
  color: white;
  background-color: rgb(201, 57, 57);
  border-radius: 0.2rem;
  border-width: 0;
  outline: none;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
}
.update-form-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.update-form {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  gap: 0.4rem;
}
.update-form input {
  height: 2rem;
}
.expenses-filter__control {
  display: flex;
  height: 2rem;
  /* width: 100%; */
  align-items: center;
}
.option {
  height: 2rem;
  width: 10rem;
}

.td-input {
  width: 50%;
  height: 1.5rem;
}
.table-all-data {
  padding-left: 2rem;
}
.update-btn {
  height: 3rem;
  width: 10rem;
  background-color: rgb(14, 43, 138);
  border: none;
  outline: none;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}
.updateBtn {
  background-color: rgb(14, 43, 138);
  border: none;
  outline: none;
  color: white;
  border-radius: 0.2rem;
  height: 2rem;
  width: 8rem;
  cursor: pointer;
}
.search-tool-container {
  display: flex;
  gap: 3rem;
  /* width: 80%; */
 
}
.filter__nbr {
  width: 100%;
  height: 2rem;

}
.nbr__container {
  display: flex;
  align-items: center;
  
}
.send__btn{
    height: 2.2rem;
    width: 5rem;
    background-color: rgb(17, 15, 20);
    color: white;
    border-radius: 0.2rem;
}

@media screen and (max-width: 660px) {
  .updateBtn {
    height: 2rem;
    width: 4rem;
  }
  .update-btn {
    height: 3rem;
    width: 14rem;
  }

  .th-title {
    font-size: 0.8rem;
  }
  .td-input {
    width: 5rem;
    padding: 0;
    font-size: 0.6rem;
  }
  .search-tool-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .filter__nbr {
    width: 90%;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
  }
}
